/* Global */

html{
    font:1em/1.5 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
.loop-thumbnail-wrapper{
    margin-bottom:1.5rem;
}

body,
div {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #333;
    line-height: 17px;
    background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 10px 0;
}

img {
    border: none;
}

p {
    line-height: 27px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.desktop_clear {
    clear: both;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #888
}

#main_container {
    width: 100%;
    margin: 0 auto;
    padding: 1px 30px 1px 30px;
    background-color: #FFFFFF;
    max-width: 1024px;
}

::selection {
    background: #c9dee3;
}

::-moz-selection {
    background: #c9dee3;
}


/* HTML5 tags */

header,
section,
footer,
aside,
nav,
article,
figure {
    display: block;
}