/* Global */

html{
    font:1em/1.5 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
.apply-vertical-rhythm {
    margin-bottom:1.5rem;
}

body,
div {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #333;
    line-height: 17px;
    background: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 10px 0;
}

img {
    border: none;
}

p {
    line-height: 27px;
}
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #888
}


// text treatments
h1 {

}

h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
}

h3 {

}

h4 {

}

.color-highlight {
    color: $color-highlight;
}


// utility classes

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

