// colors
$white: #fff;
$black: #2d2d2d;
$grey: #4d4d4d;
$teal: #45cbaf;


$color-primary: $black;
$color-secondary: $grey;
$color-background: $white;
$color-highlight: $teal;


// breakpoints
$small: 450px;
$medium: 800px;
$large: 1330px;


// z-indices
$z-default: 1;
$z-modal: 500;
$z-top: 1000;
$z-below: -1;
