/* Header */

.header {
     &-wrapper {
        background-color: $color-background;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $z-modal;

        @media screen and (min-width: $medium) {
            background-color: rgba($color-primary, .8);
            color: $color-background;
        }
     }

    &-logo {
        float: left;
        height: 70px;
        margin-left: 60px;
    }
}
