.loop-thumbnail {

	&-item {
		display: block;
		float: left;
		position: relative;
		text-transform: uppercase;
		width: 100%;
	
		@media screen and (min-width: $small) {
			margin-right: 2%;
			width: 49%;

			&:nth-child(even) {
				margin-right: 0;
			}
		}

		@media screen and (min-width: $medium) {
			margin-right: 1.5rem;
			width: 31.7%;

			&:nth-child(even) {
				margin-right: 1.5rem;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: left;
			}
		}

		@media screen and (min-width: $large) {
			height: 600px;
		}
	}

	&-image {
		height: 100%;
		width: 100%;
	}

	&-meta {
		background-color: rgba($color-primary, .1);
		padding: 1.5rem;
		position: relative;
		text-align: center;

		@media screen and (min-width: $medium) {
			background-color: rgba($color-primary, .8);
			color: $color-background;
			height: 100%;
			opacity: 0;
			padding-top: 54%;
			position: absolute;
			top: 0;
			transition: opacity 250ms;
			width: 100%;

			&:hover {
				opacity: 1;
			}
		}

		.meta-category {
			font-size: 1.3rem;
			font-weight: 700;
			margin-bottom: 2.2rem;
		}

		h2 {
			line-height: 2.1rem;
			margin-bottom: 1.8rem;
		}

		.meta-tagline {
			margin-bottom: 1.2rem;
		}
	}

}

.load_more_cont {
	display: none;
}