.loop-thumbnail {

	&-wrapper {
		display: block;
		float: left;
		width: 100%;
	}

	&-image {
		height: 100%;
		width: 100%;
	}

	&-meta {
		background-color: $color-background;
		position: relative;
		text-align: center;
	}

}